# Defines the ingress for the Alfresco Search (Solr) App
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ template "alfresco-search.fullName" . }}-solr
  annotations:
    kubernetes.io/ingress.class: "nginx"
    ingress.kubernetes.io/ssl-redirect: "false"
spec:
  rules:
  - http:
      paths:
      - path: {{ .Values.ingress.path }}
        backend:
          serviceName: {{ template "alfresco-search.fullName" . }}-solr
          servicePort: {{ .Values.service.externalPort }}